/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: hubotSans-regular;
  src: url('/fonts/hubotSans-regular.ttf')
}

@font-face{
  font-family: hubotSans-bold;
  src: url('/fonts/hubotSans-bold.ttf')
}
